<?xml version="1.0" encoding="UTF-8"?>

<launch>

    
    <node pkg="tf2_ros" type="static_transform_publisher" name="world_odom_link"  args="0 0 0 0 0 0 1 world odom" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="camera_base_link" args="0 0 0 -0.5 0.5 -0.5 0.5 base_footprint camera_rgb_optical_frame" />
        
    <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_world.launch">
        <arg name="model" value="waffle"/>
    </include>
        
    <node pkg="octomap_server" type="octomap_server_node" name="octomap_server">
                <param name="resolution" value="0.05" />
                <param name="frame_id" type="string" value="world" />
                <param name="sensor_model/max_range" value="5.0" />

                <remap from="cloud_in" to="camera/depth/points" />

        </node>
        
    
</launch> 
